$mainBackColor: #ff6666;
$mainTextColor1: white;
$mainTextColor2: #f0f0f5;
$mainTextColor3: pink;
$buttonColor: #ffb3b3;
$mainFont: arial;
$mainFontSize:16px;

.content{
  background-color: $mainBackColor;
  color: $mainTextColor1;

  .contentContainer{
    padding: 20px;
    font-size: 30px;
    background-color: $mainBackColor;
    text-align: center;
    display: flex;
    flex-flow: column;

    div:nth-child(3){
      font-size: $mainFontSize;
      align-self: center;
      margin: 20px;
      color:$mainTextColor3;
    }
  }
    .button{
      background-color: $buttonColor;
      height: 50px;
      width:180px;
      box-shadow: 2px 2px 5px grey;
      border-radius: 5px;
      font-size: 20px;
      align-self: center;
      margin: 20px;
      &:hover{
        opacity: 0.8;
        color:darkslategrey;
      }
    }

  .contentContainerFoot{
    background-color: darkgrey;
    padding: 20px;
    font-size: $mainFontSize;
    color:$mainTextColor2;
    .button2{
      @extend .button;
      font-size: $mainFontSize;
      background-color: grey;
      height: 40px;
      width: 100px;
      margin: 0 0 0 100px;
    }
  }
  .contentContainer2{
    display: flex;
    flex-flow: column;
    background-color: $mainTextColor2;
    .pic{
      height: 300px;
      align-self: center;
      margin: 20px;
      }
    div{
      color:$mainBackColor;
      text-align: center;
      padding: 20px;
      font-size: 30px;
      .plainTxt{
        color:darkslategrey;
        font-size: $mainFontSize;
      }
    }
    .button3{
      @extend .button;
      background-color: #00e6b8;
      color:$mainTextColor1;
      height: 40px;
      width: 100%;
      margin-left:0;
    }
    }
}
