
.headerContainer {
	background: #ee6e73;
	display: flex;
	flex-direction: column;
	.headTitle{
		margin-left: 30px;
		margin-top: 10px;
	}
  h1{
  	font-size: 4.5em;
  	color: #FFF;
  };
  .headDescription{
  	text-align: center;
  	font-size: 2.5em;
  	margin: 40px;
  	color: #FFF;
  };
  .startButt{
  	width: 250px;
  	height: 70px;
  	font-size: 1.5em;
  	border-radius: 3px;
  	margin: 0 auto;
  	align-self: center;
  	background: #f3989b;
  	color: #FFF;
  	border-style: none;
  	opacity: 0.8;
  	box-shadow: 0 0 5px rgba(0,0,0,0.3);
  	transition: all 0.5s ease;
  	&:hover{
  		opacity: 1;
  		box-shadow: 0 0 15px rgba(0,0,0,0.3);
  	};
  };
  .versionInfo{
  	border-style: none;
  	background: none;
  	color: #d1d1d1;
  	width: 200px;
  	align-self: center;
  	margin-top: 15px;
  	margin-bottom: 60px;
  };
  .infoLine{
  	background:#5c5757;
  	height: 64px;
  	display: flex;
  	justify-content: space-around;
  	align-items:center;
  	.gitInfo{
  		display: flex;
  		justify-content: space-between;
  		width: 40%;
  		color: #FFF;
  	}
  		a{
  			text-decoration: none;
  			color: #FFF;
  		}
  	.git{
  		height: 36px;
  		background:#6f6d6d;
  		line-height: 36px;
  		padding: 0 2rem;
  		border-radius: 2px;
  		transition: all 0.5s ease;
  		&:hover{
  			background: #929292;
  		}
  		a{
  			text-decoration: none;
  			color: #FFF;
  		}
  	}
  }
}
