.sidebarContainer {
  position: fixed;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
  .header {
    text-align: center;
    .logo {
      max-width: 100%;
      width: 100px;
    }
  }
  .menu {
    text-align: center;
    a.item {
      display: block;
      height: 30px;
      line-height: 30px;
      &:hover {
        background: green;
      }
    }
  }
}
