div.content
	div.headerContainer
		include header.pug
	div.contentContainer
		div Modern adaptive platform, built on the grounds of material design
		button.button INTRO
		div beta-release No.9999
	div.contentContainerFoot latest commit 00000xxxxxx999kkkkkkk 15 days ago
		button.button2 GITHUB
	div.contentContainer2
		img(src="http://materializecss.com/images/responsive.png").pic
		div Materialize platform makes the life of developers and users easier.
		div
			div.row
				div.col-lg-3
					span.glyphicon.glyphicon-flash
					h3 Speeds up the development
					div.plainTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit .
				div.col-lg-3
					span.glyphicon.glyphicon-user
					h3 User oriented
					div.plainTxt Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Vin voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				div.col-lg-3
					span.glyphicon.glyphicon-dashboard
					h3 Easy in use
					div.plainTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
		div
			div.row
				div.col-lg-2
				div.col-lg-5
					h2 Sites samples
					div.plainTxt Lorem ipsum, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit .
					button.button3 VISIT SITE SAMPLES
				div.col-lg-2
	div.footerContainer
		include footer.pug
