div.headTitle
	h1  Materialize
div.headDescription
	p   Modern, adaptive platform, build on material design principles.
button.startButt START
button.versionInfo beta release v0.97.7
div.infoLine
	div.gitInfo
		span Latest Commit on Github:
		a(href="#")="47b2f3f"
		span 14 days ago
	div.git
		a(href="#")="GITHUB" 
