.header
  img(src="https://cdn.css-tricks.com/wp-content/uploads/2013/03/kiwi.png").logo
  .searchForm
.menu
  - list = [{label: "Uno", link: "#udo"}, {label: "Uno", link: "#udo"}, {label: "Uno", link: "#udo"}, {label: "Uno", link: "#udo"}]
  each item in list
    a(href=item.link).item
      =item.label
